<footer class="container footer">
    <div class="container container-fluid">
        <small class="text-muted">
            <a asp-controller="Home" asp-action="About">About</a> /
            <a asp-controller="ContactUs" asp-action="Index">Contact us</a> /
            <span>&copy; @DateTime.Now.Year Shopping Store</span>
        </small>
        <span style="float: right;">
            Design by
            <a href="https://github.com/ajeetx/aspCart" target="_blank">
                <span class="fa fa-github text-muted">Azy</span>
            </a>
        </span>
    </div>
</footer>
