<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Shopping Store</title>

    <environment names="Development">
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap-4.0.0-alpha.6-dist/js/tether.min.js"></script>
        <script src="~/lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <link href="~/dist/site.min.css" rel="stylesheet" />
        <script src="~/dist/site.min.js"></script>
    </environment>
    <style>
        .bg-faded {
            font-weight: bold;
            margin-bottom: 1em;
            background-color:orangered;
        }
        .navbar-light .navbar-nav .nav-link {
            color:white;
        }
        .navbar-light .navbar-nav .nav-link:active{
            color:black;
        }
    </style>
</head>
<body>
    <nav class="container navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @*<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand my-1"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>*@
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">   
                    <a id="home-page" asp-controller="Home" asp-action="Index" class="nav-link my-1"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a id="about-page" asp-controller="Home" asp-action="About" class="nav-link my-1">About</a>
                </li>
                <li class="nav-item">
                    <a id="contact-page" asp-controller="ContactUs" asp-action="Index" class="nav-link my-1">Contact</a>
                </li>
                <li class="nav-item">
                    @await Component.InvokeAsync("Category")
                </li>
                <li class="nav-item">
                    <form asp-area="" asp-controller="Home" asp-action="ProductSearch" method="get" class="form-inline">
                        <div class="input-group">
                            <input class="form-control" name="name" placeholder="search product(s)">
                            <button style="border:1px solid rgba(0,0,0,.15);border-left:none;border-radius:0 .3em .3em 0;" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
    <div class="container container-fluid">
        @RenderBody()
    </div>

    @await Html.PartialAsync("_Footer")
    @RenderSection("menu", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>

@*<script>
    $(function () {
        if (JSON.parse(sessionStorage.getItem("isAdminMenuOpen")) === true) {
            document.getElementById("admin-menu-body").style.transition = "0s";
            document.getElementById("admin-menu-body").style.right = "0px";
        }
    });

    $(function () {
        $('#open-admin').on('click', function () {
            document.getElementById("admin-menu-body").style.right = "0px";
            sessionStorage.setItem("isAdminMenuOpen", JSON.stringify(true));
        });

        $('#close-admin').on('click', function () {
            document.getElementById("admin-menu-body").style.transition = "0.5s";
            document.getElementById("admin-menu-body").style.right = "-200px";
            sessionStorage.setItem("isAdminMenuOpen", JSON.stringify(false));
        });
    });
</script>*@
