<style>
    .spinner {
        width: 3rem;
        height: 3rem;
        display: none;
    }
    #page-content{
        display:block;
    }
</style>
<div class="d-flex justify-content-center">
    <div class="spinner-border text-primary mb-3 spinner" role="status" id="loading">
        <i class="fa fa-cog fa-spin" style="font-size:48px;color:red" aria-hidden="true"></i>
</div>
</div>
