<footer class="container main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Designed by <a href="https://github.com/ajeetx" target="_blank">Its Aby pty ;td</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year <a asp-controller="Dashboard" asp-action="Index">DotnetCart</a></strong>
</footer>
